.basic {
  position: relative;
  font-weight: 600;
}
.basic-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.check-circle-alt-icon9 {
  position: absolute;
  margin: 0 !important;
  top: 22px;
  left: 17px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.frame-parent23 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-13xl);
  position: relative;
  gap: var(--gap-5xl);
  z-index: 0;
}
.month2 {
  font-size: var(--font-size-xl);
}
.month1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.month-wrapper {
  position: relative;
  width: 168px;
  height: 72px;
}
.group-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0;
  z-index: 1;
  font-size: var(--font-size-29xl);
  color: var(--neutral-100);
}
.frame-child17 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  height: 1px;
  z-index: 2;
}
.check-circle-alt-wrapper {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  z-index: 3;
}
.frame-child18 {
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  height: 1px;
  z-index: 4;
}
.check-circle-alt-frame,
.frame-child18,
.frame-child19 {
  align-self: stretch;
  box-sizing: border-box;
}
.check-circle-alt-frame {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  z-index: 5;
}
.frame-child19 {
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  height: 1px;
  z-index: 6;
}
.check-circle-alt-wrapper1 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  z-index: 7;
}
.frame-child20 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  height: 1px;
  z-index: 8;
}
.check-circle-alt-wrapper2 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  z-index: 9;
}
.frame-child21 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  height: 1px;
  z-index: 10;
}
.check-circle-alt-wrapper3 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  z-index: 11;
}
.frame-child22 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  height: 1px;
  z-index: 12;
}
.x-circle-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child23,
.x-circle-wrapper {
  align-self: stretch;
  box-sizing: border-box;
}
.x-circle-wrapper {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  z-index: 13;
}
.frame-child23 {
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  height: 1px;
  z-index: 14;
}
.x-circle-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  z-index: 15;
}
.frame-child24,
.x-circle-container,
.x-circle-frame {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-child24 {
  position: relative;
  border-top: 1px solid var(--color-silver-100);
  height: 1px;
  z-index: 16;
}
.x-circle-frame {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  z-index: 17;
}
.frame-child25 {
  align-self: stretch;
  position: relative;
  height: 0;
  z-index: 18;
}
.check-circle-alt-icon15 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.flexibel-rotationsticky-optio2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 262px;
  flex-shrink: 0;
}
.check-circle-alt-parent5 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  z-index: 19;
  text-align: left;
  font-size: var(--desktop-paragraph-paragraph-2-size);
  color: var(--font-light-font-secondary);
  font-family: var(--font-plus-jakarta-sans);
}
.subscribe-on-both2 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.subscribe-on-both-memberships-container {
  border-radius: var(--br-981xl);
  background-color: var(--primary-blue);
  width: 401px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-wrapper8 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 20;
  text-align: left;
  font-size: var(--body-base-medium-size);
  color: var(--white);
  font-family: var(--font-plus-jakarta-sans);
}
.check-circle-alt-icon16,
.check-circle-alt-icon17 {
  position: absolute;
  margin: 0 !important;
  top: 16px;
  left: 433px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 21;
}
.check-circle-alt-icon17 {
  left: 329px;
  z-index: 22;
}
.frame-parent22 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-honeydew);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--desktop-heading-h6-size);
  color: var(--color-teal);
  font-family: var(--body-xs-normal);
}
