.hover-menu-parent,
.navbar {
  display: flex;
  flex-direction: row;
}
.hover-menu-parent {
  border-radius: var(--br-81xl);
  background-color: var(--color-ghostwhite-100);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 98px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-121xl);
  box-sizing: border-box;
}
